.cookies-aviso {
    background-image: url('/img/Home/cookie.svg');
    background-repeat: no-repeat;
}
.cookies-aviso p{
 background: rgba(255, 255, 255, 0.900);

color: var(--grisOscuro);
}
.cookies-aviso h3{
    background: rgba(255, 255, 255, 0.900);

    padding: 10px;
text-align: center;
color: var(--grisMedio);

}
.cookies-aviso h1{
    padding: 7px;
    background-color: var(--rosaOscuro);
    text-align: center;
    color: white;
}
.cookies-aviso a{
    color: var(--grisOscuro);
    font-weight: 800;

}
.cookies-aviso .inicio{
    padding: 10px;
color: white;   
 border-radius: 10px;
    background-color: var(--rosaOscuro);


}
.cookies-aviso .inicio :hover{
    background-color: rgb(16, 5, 5);

}
