.caja{
    width: 250px;
    flex: 0 0 auto;
    width: 240px;
    height: 420px;
    border-radius: 18px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0px 5px 10px var(--gris);
    position: relative;
    margin-left: 10px;
}
.caja .foto-prod {
    display: flex;
    justify-content: center;
}

.caja .foto-prod img{
    margin: 2vh 0;
    height: 220px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.caja a.etiquetaC {
    font-size: 13px;
    color: white;
    background-color: var(--rosaOscuro);
    padding: 2px 4px;
    border-radius: 3px;
    position: absolute;
    right: 0;
    margin: 1px;
}
.caja span.etiqueta {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: var(--rosaOscuro);
    padding: 3px 5px;
    border-radius: 3px;
    position: absolute;
    bottom: -3pxpx;
    left: 0px;
    margin-right: 3px;
}
.caja .comprar {
    background-color: var(--rosaOscuro);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 12px;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 23px;
}
.caja .card-name{
    color: var(--grisOscuro);
    text-align: center;
    margin: 15px;
    font-size: 17px;

}

.caja .card-value{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}
.caja .card-discount{
    font-size: 18px;
    color: var(--rosaOscuro);
    margin: 10px;
}
.caja .card-price{
   color:var(--grisOscuro);
    font-size: 25px;
    text-align: center;
    
}