body{
    font-family: var(--fuenteSubtitulos);  
}
/* carrusel */
.detail main{
    margin-top: 145px;
}
.detail main section.carrusel img {
    width: 100%;
    height: 100%;
}

.detail main section article.conteCarrusel {
    height: 400px;
    overflow: hidden;
    transition: all 0.5s;
}

.detail main section ul.itemCarrusel {
    height: 100%;
    position: relative;
}

.detail main section .tarjetaCarrusel {
    height: 100%;
}

.detail main section .flechasCarrusel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: 1.5s;
}

.detail main li a label.punto {
    border: 2px solid var(--grisMedio);
    border-radius: 100%;
    padding: 3px;
    margin: 5px;
    cursor: pointer;
    transition: 1.5s;
    display: flex;
    width: 3px;
}

.detail main li a label.punto:hover {
    background-color: var(--rosaOscuro);
}

.detail main ul.puntos {
    display: flex;
    position: absolute;
    top: 470px;
    width: 100%;
    justify-content: center;
}


/* detalle de producto */

.detail main section h1 {
    text-align: center;
    color: var(--grisOscuro);
    margin-top: 15px;
    font-size: 20px;
}

.detail main section article.price p.precio {
    color: var(--grisMedio);
    font-size: 14px;
    padding: 10px;
    text-decoration: line-through;
}

.detail main section article.price span.precio-final {
    color: var(--grisOscuro);
    padding: 10px;
    font-weight: bold;
}

.detail main section article.price small.descuento {
    color: #ff276d;
}

.detail main section article.conten-carrito {
    display: flex;
    padding: 10px;
}

.detail main section article.conten-carrito .sumar-carrito {
    display: flex;
}

.detail main section article.conten-carrito .sumar-carrito input {
    display: flex;
    justify-content: center;
    border: 1px solid var(--grisClaro);
    background-color: white;
    width: 20px;
}

.detail main section article.conten-carrito .sumar-carrito input:active {
    background-color: var(--rosaOscuro);
}

.detail main .sumar-carrito .medio {
    width: 20px;
    background-color: white;
    border: 1px solid var(--grisClaro);
    text-align: center;
}

.detail main .comprar-boton {
    background-color: var(--rosaOscuro);
    color: white;
    border: none;
    border-radius: 35px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    margin: 0 25px;
}
.detail main .comprar-boton:hover{
    background-color: var(--grisOscuro);
    color: var(--rosaOscuro);
}

.detail main .lista-deseos i, .share i {
    margin: 0 10px;
    color: white;
    font-size: 18px;
    background-color: var(--rosaOscuro);
    padding: 10px;
    border-radius: 100%;
    margin-bottom: 20px;
}
.detail main .lista-deseos i:hover, .share i:hover{
    background-color: var(--grisOscuro);
    color: var(--rosaOscuro);
}
.detail main .fav-share{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-top: -48px;
}

.detail main section.descripcion {
    margin-bottom: 10px;
}

.detail main section.descripcion h3 {
    color: #f57b7b;
    padding: 10px;
    font-weight: bolder;
    font-size: 14px;
}

.detail main section.descripcion p {
    color: var(--grisMedio);
    padding: 10px;
}


/* promociones */
.detail main section.promociones h3 {
    color: #f57b7b;
    padding: 10px;
    font-weight: bolder;
    font-size: 14px;
}

.detail main section.promociones {
    padding: 10px;
    text-align: center;
    color: var(--grisMedio);
    border-top: 1px solid #d2d0d0a0;
}

.detail main .retiro i,
.cambios i,
.cuotas i {
    align-items: center;
    padding: 10px;
    border: 1px solid var(--rosaOscuro);
    color: var(--rosaOscuro);
    border-radius: 50%;
    font-size: 15px;
    margin-bottom: 10px;
}


/* productos relacionados */

.detail main h2 {
    padding: 10px;
    color: var(--grisOscuro);
    font-size: 20px;
    font-weight: bold;
    border-top: 1px solid #d2d0d0a0;
    margin-bottom: 20px;
}

.detail main section.productos-relacionados img {
    width: 200px;
    height: 200px;
}

.detail main section.productos-relacionados {
    text-align: center;
}

.detail main section.productos-relacionados article {
    text-align: center;
    display: inline-block;
    border: 1px solid #d2d0d0a0;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--gris);
    width: 60%;
    margin-bottom: 25px;
}

.detail main section.productos-relacionados article:hover {
    position: relative;
    transform: scale(1.2);
    transition: all 0.5s;
    z-index: 10;
}

.detail main section.productos-relacionados .caja-etiquetas {
    position: relative;
    display: flex;
    align-items: center;
}

.detail main section.productos-relacionados span.etiqueta {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: var(--rosaOscuro);
    padding: 3px 5px;
    border-radius: 3px;
    position: relative;
    bottom: 10px;
    left: 0px;
    margin-right: 3px;
}

.detail main section.productos-relacionados a.etiquetaC {
    font-size: 13px;
    color: white;
    background-color: var(--rosaOscuro);
    padding: 2px 4px;
    border-radius: 3px;
    position: absolute;
    bottom: 10px;
    right: 0;
    margin: 1px;
}


/* tablet */
@media (min-width:461px) {
    .detail main{
        margin-top: 230px;
    }
    .detail main section.carrusel img {
        width: 100%;
        height: 100%;
    }
    .detail main ul.puntos{
        margin-top: 50px;
    }

    .detail main section.descripcion h3 {
        text-align: center;
    }
    .detail main section.promociones {
        display: none;
     }

     .detail main section.descripcion p {
        text-align: center;
    }
}

/* descktop */
@media (min-width:769px) {
    .detail main{
        margin-top: 280px;
    }
    .detail main section.carrusel img {
        width: 45%;
        height: 100%;
    }

    .detail main section .flechasCarrusel {
        width: 45%;
    }

    .detail main ul.puntos {
        width: 45%;
        margin-top: 50px;
    }

    .detail main section.detalle-producto {
        text-align: center;
        position: absolute;
        right: 60px;
        top: 320px;
        width: 50%;
    } 

    .detail main section.detalle-producto article.conten-carrito {
        justify-content: center;
    }

    .detail main section article.share {
        justify-content: center;
    } 

    .detail main section.promociones {
       display: none;
    }
    .detail main section.productos-relacionados {
        display: flex;
        text-align: center;
    }
    .detail main h2{
        margin-top: 50px;
    }

    .detail main section.productos-relacionados article {
        margin: 20px;
    }
}