.enlaces {
    background-image: url('/images/logo-superior.png');
    background-repeat: no-repeat;
}
.enlaces p{
 background: rgba(255, 255, 255, 0.551);

color: var(--grisOscuro);
}
.enlaces h3{
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.758);
    padding: 10px;
text-align: center;
color: var(--grisMedio);

}
.enlaces h1{
    text-transform: uppercase;
    text-align: center;
    color: var(--grisMedio);
}
.enlaces a{
    color: var(--grisOscuro);
    font-weight: 800;

}
.enlaces .inicio{
    padding: 10px;
color: white;   
 border-radius: 10px;
    background-color: var(--rosaOscuro);


}
.enlaces .inicio :hover{
    background-color: rgb(16, 5, 5);

}
.enlaces ul {
    padding: 10px;
}
.enlaces li{
    padding: 5px
}
.enlaces .nosotrosh1{
    font-size: 100px;
    text-transform: capitalize;
    font-family: var(--fuenteTitulos);
}
.enlaces .equipo  { 
margin: 0 auto;   
 display: grid;

}
.enlaces .equipo h2 , .rango{
text-align: center;
}
.enlaces .equipo img {
    border-radius: 100px;

    width: 200px;

}
.enlaces .nuestroequipo{
    display: grid;
    grid-template-columns: 33% 33% 33% ;

}