/* .Footerimg{
    
} */
.saludo{
    position: absolute;
   /* padding:50px 0px; */
}

footer .email input{
    margin: 8px;
    display: block;
   padding: 0px 15px;
   border: 1px solid var(--colorGrisclaro);
   box-shadow: 0px 2px 1px 0px #e4e4e4;
   border-radius:6px ;
  
}
footer .subscribe input{
    color: white;
    margin: 8px;
    display: block;
    padding: 0px 15px;
    background-color: var(--colorRosa);
    box-shadow: 0px 2px 1px 0px #ebc7c7;
    border-radius: 6px;
    border: none;
}