header{
    position: relative;
    height: 100px;
}
.logo img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
}
header nav{
    height: 40px;
    padding: 0px 0;
    background-color: var(--rosaOscuro);
}
header .icons{
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
}
header .icons i{
    color: white;
}
header .botones-header{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
header .button{
    position: relative;
    bottom: 110px;
    margin: 15px;
    color: var(--rosaOscuro);
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0px 4px 0px 0px #e4e4e4;
    border: none; 
}
header .button2{
    position: relative;
    bottom: 108px;
    margin: 15px;
    color: var(--rosaOscuro);
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0px 4px 0px 0px #e4e4e4;
    border: none;
    /* float: right; */
}
header .logo {
    display: flex;
    justify-content: center;
    padding: -18px;
    margin: -50px auto;
    width: 250px;
}

header .buscar{
    display: none;
}

/* Tablet */
@media (min-width:461px) {
    header{
        height: 100px;
        margin-bottom: 50px;
    }
    header .logo {
        position: absolute;
        left: -47px;
   }
   header .logo img{
    margin-left: -80px;
   }
   header .button{
    position: relative;
    margin: 10px;
    top: 150px;
   }
   header .button2{
    top: 147px;
    position: relative;
   }
   header .botones-header{
    margin-top: -100px;
}
    header .buscar{
    box-shadow: 0px 4px 0px 0px #e4e4e4;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: -5%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 9px;
    height: 39px;
    border-radius: 40px;
   }
    header .buscar_texto{
    left: 15px;
    position: relative;
    border: none; 
    outline: none; 
     color: var(--grisMedio); 
     font-size: 13px;
     float: left; 
     line-height: 32px;
     background: none; 

    }
    header .botonLupa{
    display: flex;
    justify-content: end;
    width: 140px;
    color: #ffffff;
    font-size: 18px;
    }

    header .buscar i{
    right: -8px;
    position: relative;
    padding: 11px;
    border-radius: 17px;
    background-color:var(--rosaOscuro);
    border: none;

    }
}

/* Desktop */
@media (max-width:1024px) {
    header .buscar{
        bottom: -9%;
    }      
}