.listar header{
    height: 220px;
}
.listar .ul{
    width: 100%;
    display: flex;
}
.listar .ul .li{
    font-size: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.listar .ul .li a:hover{
    color: var(--rosaOscuro);
}
.listar a{
    color: var(--grisMedio)
}
@media (min-width: 461px){
    .listar .ul .li{
        font-size: 15px;
        margin-left: 15px;
    }
}