
.login main{
  width: 100%;
  height: 500px;
  max-width: 1024px;
  margin-top: 0;

}

.wrapper h1{
  font-weight: bold;
  text-transform: capitalize;
  font-family: var(--fuenteSubtitulos);
  color:var(--grisMedio);
}
.wrapper {
  position: relative;
  text-align: center;
  bottom: 7rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: inherit;
}

.wrapper form{
  margin: 20px 0;
}
form .field{
  width: 100%;
  margin-bottom: 20px;
}

form .field .input-area{
  height: 50px;
  width: 100%;
  position: relative;
}
.login form input{
    
    height: 100%;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    box-shadow: 0px 2px 0px 0px #e4e4e4;
    border-radius: 35px;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
    border: none;
}


.field .input-area i{
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}
.input-area .icon{
  left: 15px;
  color: var(--grisMedio);
  transition: color 0.2s ease;
}

form input:focus ~ .icon,
form .field.valid .icon{
  color: var(--rosaOscuro);
}
form .field.shake input:focus ~ .icon,
form .field.error input:focus ~ .icon{
  color: var(--grisMedio);
}
form input::placeholder{
  color: var(--grisMedio);
  font-size: 17px;}

  .recordarme_bottom{
      display: flex;
      color:var(--grisMedio);
      font-weight: bold;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-around;
      font-family: var(--fuenteSubtitulos);
  }
  .recordarme_bottom label{
      color: var(--grisMedio);
      font-family: var(--fuenteSubtitulos);
      bottom: 3px;
      right: 9px;
      font-size: 10px;
      position: relative;
  }
  .recordarme_bottom small{
      color: var(--grisMedio);
      font-family: var(--fuenteSubtitulos);
      bottom: 3px;
      right: 9px;
      font-size: 10px;
      position: relative;
  }
  
  
  .login .Access {
      top: 5px;
      right: 115px;
      position: relative;
  }
  .login .Access2 {
      position: relative;
      left: 20px;
      bottom: 15px;
      float: right;
  }
  .login .access_text{
      left: 58px;
      font-size: 12px;
      color: var(--grisMedio);
      font-family: var(--fuenteSubtitulos);
      font-weight: bold;
      position: relative;
      bottom: 11px;
  } 
  .wrapper button{
    font-weight: bold;
    left: 0px;
    position: relative;
    border-radius: 15px;
    border: none;
    width: 6rem;
    font-family: var(--fuenteSubtitulos);
    color: white;
    padding: 7px;
    background-color: var(--rosaOscuro);
    margin: 5px;
    text-align: center;
    top: 50px;
  }
  .social_icons{
    position: relative;
    left: 7rem;
    display: flex;
    justify-content: space-evenly;
    top: 4rem;
  }
  
  .button_go,.button_fa,.button_app{
      
      right: 50px;
      position: relative;
      bottom: 38px;
      /* top: -34px; */
      color: var(--rosaOscuro);
      width: 40px;
      height: 40px;
      font-size: 20px;
      background-color: white;
      border-radius: 100%;
      box-shadow: 0px 4px 0px 0px #e4e4e4;
     
  }
  .button_go .icon{
      top: 12px;
      position: relative;
      display: flex;
      justify-content: center;
  }
  .button_fa .icon{
      top: 12px;
      position: relative;
      display: flex;
      justify-content: center;
  }
  .button_app .icon{
      top: 12px;
      position: relative;
      display: flex;
      justify-content: center;
  
  }
   /* Tablet */
/* @media (min-width:461px) {
 
.login main {
  position: absolute;
  left: 5rem;
  top: 25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container_ilustration{
  display: none;
}
}  */ 

  /* Desktop*/
  @media (min-width:768px) {
    .login main {
      position: absolute;
      left: 10rem;
      top: 26rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

  }
  }