<!DOCTYPE html>
<html lang="es">
    <%- include ('./partials/head', {title: 'Esmaltes'}) %>
    <body>
        <%- include ('./partials/header') %> 
        <main class="esmaltesPag">
            <nav class="breadcrumbs">
    <ul>
        <li class="crumb"><a href="/">Home</a></li>
        <li class="divider"> > </li>
        <li class="crumb-active" aria-current="page">Esmaltes</li>
    </ul>
</nav>
        </main>
        <%- include ('./partials/footer') %>
    </body>