<!DOCTYPE html>
<html lang="es">
    <%- include ('./partials/head', {title: 'Wonder Nails'}) %> 
<body class="home">

    <%- include ('./partials/header') %> 
    <main class="mainHome">
        <!-- CARRUSEL -->
        <section class="carrusel">
            <ul class="slider">
                <li id="slide1"><img src="/images/f6d85cc990cbf236fc58768bd05d04d4.jpg" alt=""></li>
                <li id="slide2"><img src="/img/Home/carrusel2.jpg" alt=""></li>
                <li id="slide3"><img src="/img/Home/carrusel3.jpg" alt=""></li>
                <li id="slide4"><img src="/img/Home/carrusel4.jpg" alt=""></li>
                <li id="slide5"><img src="/img/Home/carrusel5.jpg" alt=""></li>
            </ul>
                <ul class="botones">
                    <li><a href="#slide1"><label for="" class="botonCarrusel"></label></a></label></li>
                    <li><a href="#slide2"><label for="" class="botonCarrusel"></label></a></label></li>
                    <li><a href="#slide3"><label for="" class="botonCarrusel"></label></a></label></li>
                    <li><a href="#slide4"><label for="" class="botonCarrusel"></label></a></label></li>
                    <li><a href="#slide5"><label for="" class="botonCarrusel"></label></a></label></li>
                </ul>
            <!-- <ul class="flechas">
                <li><a href=""><i class="fas fa-angle-left"></i></a></li>
                <li><a href=""><i class="fas fa-angle-right"></i></a></li>
            </ul> -->
        </section>
        <section class="tienda">
         <!-- INICIO -->
            <article class="titulo">
                <h5>Las uñas que querés a un click de distancia</h5>
                <h1>Bienvenidos</h1>
                <h3>a nuetra tienda</h3>
                <div class="vectorRosa">
                    <img src="/img/Home/Vector 2.png" alt="">
                </div>
            </article>
         <!-- SECCIONES -->
            <article>
                <ul class="secciones">
                    <li><a href="#nuevo"><h4>Novedades</h4></a></li>
                    <li><a href="#favoritos"><h4>Favoritos</h4></a></li>
                    <li><a href="#oferta"><h4>Ofertas</h4></a></li>
                </ul>
            </article>
         <!-- CARRUSEL DE SECCIONES -->
            <article class="carruselTienda">
                  <!-- novedades -->
                    <div id="nuevo" class="seccion">
                        <div class="caja">
                            <div class="caja-etiquetas">
                                <span class="etiqueta">Nuevo</span>
                            <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                            </div>
                            <a href="/productos/detalle">
                                    <div class="foto-prod">
                                        <img src="/img/Home/producto-nuevo-1.jpg" alt="">
                                    </div>
                                    <h4>Bloque de brillo</h4>
                                    <span class="precio">$200</span>
                            </a>
                                    <div class="input">
                                        <input type="button" value="-">
                                        <input class="medio" type="number" value="1" min="1" step="1">
                                        <input type="button" value="+">
                                    </div>
                                <a href="/productos/carrito"><button class="comprar">Comprar</button></a>
                        </div>
                        <div class="caja">
                            <div class="caja-etiquetas">
                                <span class="etiqueta">Nuevo</span>
                            <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                            </div>
                            <a href="/productos/detalle">
                                <div class="foto-prod">
                                    <img src="/img/Home/producto-nuevo-2.jpg" alt="">
                                </div>
                                <h4>Laminas de oro</h4>
                                <span class="precio">$600</span>
                            </a>
                            <div class="input">
                                <input type="button" value="-">
                                <input class="medio" type="number" value="1" min="1" step="1">
                                <input type="button" value="+">
                            </div>
                            <a href="/productos/carrito"><button class="comprar">Comprar</button></a>
                        </div>
                        <!-- <div class="caja">
                            <div class="caja-etiquetas">
                                <span class="etiqueta">Nuevo</span>
                            <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                            </div>
                            <div class="foto-prod">
                                <img src="/img/Home/producto-nuevo-3.jpg" alt="">
                            </div>
                            <h4>Cabina secador</h4>
                            <span class="precio">$600</span>
                            <div class="input">
                                <input type="button" value="-">
                                <input class="medio" type="number" value="1" min="1" step="1">
                                <input type="button" value="+">
                            </div>
                            <button class="comprar">Comprar</button>
                        </div> -->
                    </div>
                    <!-- favoritos -->
                    <div id="favoritos" class="seccion">
                        <div class="caja">
                            <div class="caja-etiquetas">
                                <span class="etiqueta">Nuevo</span>
                            <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                            </div>
                            <a href="/productos/detalle">
                                <div class="foto-prod">
                                    <img src="/img/Home/producto-favorito-1.jpg" alt="">
                                </div>
                                <h4>12 Esmaltes Semipermanentes x15ml Anush</h4>
                                <span class="precio">$11190</span>
                            </a>
                            <div class="input">
                                <input type="button" value="-">
                                <input class="medio" type="number" value="1" min="1" step="1">
                                <input type="button" value="+">
                            </div>
                            <a href="/productos/carrito"><button class="comprar">Comprar</button></a>
                        </div>
                        <div class="caja">
                            <div class="caja-etiquetas">
                                <span class="etiqueta">Nuevo</span>
                            <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                            </div>
                            <a href="/productos/detalle">
                                <div class="foto-prod">
                                    <img src="/img/Home/producto-favorito-2.jpg" alt="">
                                </div>
                                <h4>Gel Mono-Phase UV Thuya x 15ml.</h4>
                                <span class="precio">$4390</span>
                            </a>
                            <div class="input">
                                <input type="button" value="-">
                                <input class="medio" type="number" value="1" min="1" step="1">
                                <input type="button" value="+">
                            </div>
                            <a href="/productos/carrito"><button class="comprar">Comprar</button></a>
                        </div>
                        <!-- <div class="caja">
                            <div class="caja-etiquetas">
                                <span class="etiqueta">Nuevo</span>
                            <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                            </div>
                            <div class="foto-prod">
                                <img src="/img/Home/producto-favorito-3.jpg" alt="">
                            </div>
                            <h4>Torno Profesional Fast Drill Meline</h4>
                            <span class="precio">$9990</span>
                            <div class="input">
                                <input type="button" value="-">
                                <input class="medio" type="number" value="1" min="1" step="1">
                                <input type="button" value="+">
                            </div>
                            <button class="comprar">Comprar</button>
                        </div> -->
                    </div>
                    <!-- ofertas -->
                    <div id="oferta" class="seccion">
                        <div class="caja">
                            <div class="caja-etiquetas">
                                <span class="oferta" class="etiqueta">-20%</span>
                            <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                            </div>
                            <div class="foto-prod">
                                <img src="/img/Home/producto-oferta-1.jpg" alt="">
                            </div>
                            <h4>Torno Drill 288 <br> Professional</h4>
                            <span class="precioOferta">
                                <span class="precioViejo">$14990</span>
                                <span >$11992</span>
                            </span>
                            <div class="input">
                                <input type="button" value="-">
                                <input class="medio" type="number" value="1" min="1" step="1">
                                <input type="button" value="+">
                            </div>
                            <button class="comprar">Comprar</button>
                        </div>
                        <div class="caja">
                            <div class="caja-etiquetas">
                                <span class="oferta" class="etiqueta">-10%</span>
                                <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                            </div>
                            <div class="foto-prod">
                                <img src="/img/Home/producto-oferta-2.jpg" alt="">
                            </div>
                            <h4>12 Esmaltes Semipermanentes</h4>
                            <span class="precioOferta">
                                <span class="precioViejo">$7990</span>
                            <span >$7191</span>
                            </span>
                            <div class="input">
                                <input type="button" value="-">
                                <input class="medio" type="number" value="1" min="1" step="1">
                                <input type="button" value="+">
                            </div>
                            <button class="comprar">Comprar</button>
                        </div>
                        <!-- <div class="caja">
                            <div class="caja-etiquetas">
                                <span class="etiqueta">Nuevo</span>
                                <span class="oferta" class="etiqueta">-5%</span>
                             <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                            </div>
                            <div class="foto-prod">
                                <img src="/img/Home/producto-oferta-3.jpg" alt="">
                            </div>
                            <h4>3 esmaltes + cabina mini UV</h4>
                            <span class="precioOferta">
                                <span class="precioViejo">$8190</span>
                            <span >$7780</span>
                            </span>
                            <div class="input">
                                <input type="button" value="-">
                                <input class="medio" type="number" value="1" min="1" step="1">
                                <input type="button" value="+">
                            </div>
                            <button class="comprar">Comprar</button>
                        </div> -->
                    </div>
                    <div class="cajaBotonesT">
                        <ul class="botonesT">
                            <li><a href=""><label for="" class="botonT"></label></a></label></li>
                            <li><a href=""><label for="" class="botonT"></label></a></label></li>
                            <li><a href=""><label for="" class="botonT"></label></a></label></li>
                            <li><a href=""><label for="" class="botonT"></label></a></label></li>
                            <li><a href=""><label for="" class="botonT"></label></a></label></li>
                        </ul>
                    </div>
            </article>
        </section>
        <section class="esmaltes">
                <div class="fondo">
                    <img src="/img/Home/fondoEsmaltes.png" alt="">
                </div>
                <a href="/productos/esmaltes"><button class="botonEsmalte"></button></a>
                
            
                <div class="cajaEsmaltes">
                    <article class="esmalte">
                        <div class="imgEsmalte"><img src="/img/Home/Esmaltes/esmalte1.webp" alt="Imagen de un esmalte"></div>
                        <h4>Nueva York</h4>
                        <span class="precioE">$600</span>
                        <div class="input">
                            <input type="button" value="-">
                            <input class="medio" type="number" value="1" min="1" step="1">
                            <input type="button" value="+">
                        </div>
                        <button class="comprar">Comprar</button>
                    </article>
                    <article class="esmalte">
                        <div class="imgEsmalte"><img src="/img/Home/Esmaltes/esmalte2.webp" alt="Imagen de un esmalte"></div>
                        <h4>Estambul</h4>
                        <span class="precioE">$600</span>
                        <div class="input">
                            <input type="button" value="-">
                            <input class="medio" type="number" value="1" min="1" step="1">
                            <input type="button" value="+">
                        </div>
                        <button class="comprar">Comprar</button>
                    </article>
                    <!-- <article class="esmalte">
                        <div class="imgEsmalte"><img src="/img/Home/esmalte.jpg" alt="Imagen de un esmalte"></div>
                        <h4>Nombre del esmalte</h4>
                        <span class="precioE">$600</span>
                        <div class="input">
                            <input type="button" value="-">
                            <input class="medio" type="number" value="1" min="1" step="1">
                            <input type="button" value="+">
                        </div>
                        <button class="comprar">Comprar</button>
                    </article>
                    </article> -->
                </div>
        </section>
        <section class="servicios">
            <div class="cajaServicios">
                <div class="imgServicios">
                    <img src="/img/Home/servicios.jpg" alt="">
                </div>
                <div class="textoS">
                    <h4>Nuestros servicios</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aperiam nemo, tenetur doloribus consectetur dolores architecto.</p>
                <div class="botonWpp">
                    <button><img src="/img/Home/Icon.svg" alt=""></button>
                    <h4>Saca tu turno</h4>
                </div>
            </div>
            </div>
            <img class="vector" src="/img/Home/Vector 1.png" alt="">
        </section>
        <section class="cursos">
            <img class="imgCursos" src="/img/Home/chica.png" alt="">
            <div class="textoCursos">
                <h5>nuestros</h5>
                <h2>cursos</h2>
                <h3>Proximamente</h3>
            </div>
        </section>
        <section class="ubicacion">
            <div class="fondo">
                <img src="/img/Home/fondoEsmaltes.png" alt="">
            </div>
            <h3 class="dondeEstamos">Donde estamos</h3>
            <div class="cajaEtiquetas">
                <!-- flip cards - aún no logrado -->
                <article class="Etiqub" class="etiquetaUbicacion1">
                    <div class="etiqueta1">
                        <img class="img" src="/img/Home/ubicación.alto.avellaneda.jpg" alt="">
                        <div class="textoUbicacion">
                            <h3>Alto avellaneda Shopping</h3>
                            <h3 class="Etiqubh3">Visitanos</h3>
                        </div>
                    </div>
                </article>
                <article class="Etiqub" class="etiquetaUbicacion2">
                    <div class="etiqueta1">
                        <img class="img" src="/img/Home/ubicacion.alto.palermo.jpg" alt="">
                        <div class="textoUbicacion">
                            <h3>Alto <br> palermo shopping</h3>
                            <h3 class="Etiqubh3">Visitanos</h3>
                        </div>
                    </div>
                </article>
                <article class="Etiqub" class="etiquetaUbicacion3">
                    <div class="etiqueta1">
                        <img class="img" src="/img/Home/ubicacion.el.mercado.jpg" alt="">
                        <div class="textoUbicacion">
                            <h3>El mercado</h3>
                            <h3 class="Etiqubh3">Visitanos</h3>
                        </div>
                    </div>
                </article>
                <article class="Etiqub" class="etiquetaUbicacion4">
                    <div class="etiqueta1">
                        <img class="img" src="/img/Home/ubicacion.alto.comahue.jpg" alt="">
                        <div class="textoUbicacion">
                            <h3>Alto comahue Shopping</h3>
                            <h3 class="Etiqubh3">Visitanos</h3>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="opiniones">
            <div class="headerOpiniones">
                <div class="logoOp">
                    <img src="/img/Home/logo.png" alt="">
                </div>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <div class="textoOp">
                    <h5>Tu opinión cuenta</h5>
                    <h2>9/10</h2>
                </div>
            </div>
            <ul class="flechasOp">
                <li class="izquierda"><a href=""><i class="fas fa-angle-left"></i></a></li>
                <li class="derecha"><a href=""><i class="fas fa-angle-right"></i></a></li>
            </ul>
            <div class="opinion">
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Buenos precios, buenos productos.
                    Excelente atención. 
                    Qué más podría pedir? 
                    Sin duda voy a seguir comprando"
                </p>
                <div class="ultimo">
                    <h5>Erika R.</h5>
                    <div><img src="/img/Home/calendar-heart-02.png" alt="">
                        <span>07/07/2022</span></div>
                </div>
            </div>
        </section>
        <section class="instagram">
            <div class="fotosIG">
                <a class="img1" href="https://www.instagram.com/p/CgVTAhQA6S4/"><img src="/img/Home/img-instagram-1.jpg" alt=""></a>
                <a class="img2" href="https://www.instagram.com/p/CgVTIUyAy4O/"><img src="/img/Home/img-instagram-2.jpg" alt=""></a>
                <a class="img3" href="https://www.instagram.com/p/CgVTV7jgGlT/"><img src="/img/Home/img-instagram-3.jpg" alt=""></a>
                <a class="img4" href="https://www.instagram.com/p/CgVaSUcNibN/"><img src="/img/Home/img-instagram-4.jpg" alt=""></a>
                <a class="img5" href="https://www.instagram.com/p/CgVaU_6NQ4o/"><img src="/img/Home/img-instagram-5.jpg" alt=""></a>
                <a class="img6" href="https://www.instagram.com/p/CgVaYEpNJX5/"><img src="/img/Home/img-instagram-6.jpg" alt=""></a>
                <a class="img7" href="https://www.instagram.com/p/CgVaa1sNhKA/"><img src="/img/Home/img-instagram-7.jpg" alt=""></a>
            </div>
        </section>
    </main>
    <%- include ('./partials/footer') %> 
</body>
</html>