<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wonder Nails</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/042c99f1d8.js" crossorigin="anonymous"></script>
</head>
<body>
    <header></header>
    <main class="mainHome">
        <!-- CARRUSEL -->
        <section class="carrusel">
            <ul class="slider">
                <li id="slide1"><img src="/img/Home/carrusel1.jpg" alt=""></li>
                <li id="slide2"><img src="/img/Home/carrusel2.jpg" alt=""></li>
                <li id="slide3"><img src="/img/Home/carrusel3.jpg" alt=""></li>
                <li id="slide4"><img src="/img/Home/carrusel4.jpg" alt=""></li>
                <li id="slide5"><img src="/img/Home/carrusel5.jpg" alt=""></li>
            </ul>
                <ul class="botones">
                    <li><a href="#slide1"><label for="" class="boton"></label></a></label></li>
                    <li><a href="#slide2"><label for="" class="boton"></label></a></label></li>
                    <li><a href="#slide3"><label for="" class="boton"></label></a></label></li>
                    <li><a href="#slide4"><label for="" class="boton"></label></a></label></li>
                    <li><a href="#slide5"><label for="" class="boton"></label></a></label></li>
                </ul>
            <ul class="flechas">
                <li><a href=""><i class="fas fa-angle-left"></i></a></li>
                <li><a href=""><i class="fas fa-angle-right"></i></a></li>
            </ul>
        </section>
        <section class="tienda">
         <!-- INICIO -->
            <article class="titulo">
                <h5>Las uñas que querés a un click de distancia</h5>
                <h1>Bienvenidos</h1>
                <h3>a nuetra tienda</h3>
                <div>
                    <img src="/img/Home/Vector 2.png" alt="">
                </div>
            </article>
         <!-- SECCIONES -->
            <article>
                <ul class="secciones">
                    <li><a href="#nuevo"><h4>Novedades</h4></a></li>
                    <li><a href="#favoritos"><h4>Favoritos</h4></a></li>
                    <li><a href="#oferta"><h4>Ofertas</h4></a></li>
                </ul>
            </article>
         <!-- CARRUSEL DE SECCIONES -->
            <article class="carruselTienda">
                  <!-- novedades -->
                    <div id="nuevo" class="seccion">
                        <div class="caja">
                            <div class="caja-etiquetas">
                                <span class="etiqueta">Nuevo</span>
                            <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                            </div>
                            <div class="foto-prod">
                                <img src="/img/Home/producto-nuevo-1.jpg" alt="">
                            </div>
                            <h4>Bloque de brillo</h4>
                            <span class="precio">$200</span>
                            <div class="input">
                                <input type="button" value="-">
                                <input class="medio" type="number" value="1" min="1" step="1">
                                <input type="button" value="+">
                            </div>
                            <button class="comprar">Comprar</button>
                        </div>
                        <div class="caja">
                            <div class="caja-etiquetas">
                                <span class="etiqueta">Nuevo</span>
                            <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                            </div>
                            <div class="foto-prod">
                                <img src="/img/Home/producto-nuevo-2.jpg" alt="">
                            </div>
                            <h4>Laminas de oro</h4>
                            <span class="precio">$600</span>
                            <div class="input">
                                <input type="button" value="-">
                                <input class="medio" type="number" value="1" min="1" step="1">
                                <input type="button" value="+">
                            </div>
                            <button class="comprar">Comprar</button>
                        </div>
                        <div class="caja">
                            <div class="caja-etiquetas">
                                <span class="etiqueta">Nuevo</span>
                            <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                            </div>
                            <div class="foto-prod">
                                <img src="/img/Home/producto-nuevo-3.jpg" alt="">
                            </div>
                            <h4>Cabina secador</h4>
                            <span class="precio">$600</span>
                            <div class="input">
                                <input type="button" value="-">
                                <input class="medio" type="number" value="1" min="1" step="1">
                                <input type="button" value="+">
                            </div>
                            <button class="comprar">Comprar</button>
                        </div>
                    </div>
                    <!-- favoritos -->
                    <div id="nuevo" class="seccion">
                        <div class="caja">
                            <div class="caja-etiquetas">
                                <span class="etiqueta">Nuevo</span>
                            <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                            </div>
                            <div class="foto-prod">
                                <img src="/img/Home/producto-nuevo-1.jpg" alt="">
                            </div>
                            <h4>Bloque de brillo</h4>
                            <span class="precio">$200</span>
                            <div class="input">
                                <input type="button" value="-">
                                <input class="medio" type="number" value="1" min="1" step="1">
                                <input type="button" value="+">
                            </div>
                            <button class="comprar">Comprar</button>
                        </div>
                        <div class="caja">
                            <div class="caja-etiquetas">
                                <span class="etiqueta">Nuevo</span>
                            <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                            </div>
                            <div class="foto-prod">
                                <img src="/img/Home/producto-nuevo-2.jpg" alt="">
                            </div>
                            <h4>Laminas de oro</h4>
                            <span class="precio">$600</span>
                            <div class="input">
                                <input type="button" value="-">
                                <input class="medio" type="number" value="1" min="1" step="1">
                                <input type="button" value="+">
                            </div>
                            <button class="comprar">Comprar</button>
                        </div>
                        <div class="caja">
                            <div class="caja-etiquetas">
                                <span class="etiqueta">Nuevo</span>
                            <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                            </div>
                            <div class="foto-prod">
                                <img src="/img/Home/producto-nuevo-3.jpg" alt="">
                            </div>
                            <h4>Cabina secador</h4>
                            <span class="precio">$600</span>
                            <div class="input">
                                <input type="button" value="-">
                                <input class="medio" type="number" value="1" min="1" step="1">
                                <input type="button" value="+">
                            </div>
                            <button class="comprar">Comprar</button>
                        </div>
                    </div>
                    <!-- ofertas -->
                    <div id="oferta" class="seccion">
                        <div class="caja">
                            <div class="caja-etiquetas">
                                <span class="etiqueta">Nuevo</span>
                                <span class="oferta" class="etiqueta">-25%</span>
                            <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                            </div>
                            <div class="foto-prod">
                                <img src="/img/Home/producto-nuevo-1.jpg" alt="">
                            </div>
                            <h4>Torno Drill 288 <br> Professional</h4>
                            <span class="precioViejo">$200</span>
                            <span class="precio">$200</span>
                            <div class="input">
                                <input type="button" value="-">
                                <input class="medio" type="number" value="1" min="1" step="1">
                                <input type="button" value="+">
                            </div>
                            <button class="comprar">Comprar</button>
                        </div>
                        <div class="caja">
                            <div class="caja-etiquetas">
                                <span class="oferta" class="etiqueta">-25%</span>
                                <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                            </div>
                            <div class="foto-prod">
                                <img src="/img/Home/producto-nuevo-2.jpg" alt="">
                            </div>
                            <h4>Laminas de oro</h4>
                            <span class="precio">$600</span>
                            <div class="input">
                                <input type="button" value="-">
                                <input class="medio" type="number" value="1" min="1" step="1">
                                <input type="button" value="+">
                            </div>
                            <button class="comprar">Comprar</button>
                        </div>
                        <div class="caja">
                            <div class="caja-etiquetas">
                                <span class="oferta" class="etiqueta">-25%</span>
                             <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                            </div>
                            <div class="foto-prod">
                                <img src="/img/Home/producto-nuevo-3.jpg" alt="">
                            </div>
                            <h4>Cabina secador</h4>
                            <span class="precio">$600</span>
                            <div class="input">
                                <input type="button" value="-">
                                <input class="medio" type="number" value="1" min="1" step="1">
                                <input type="button" value="+">
                            </div>
                            <button class="comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="cajaBotonesT">
                        <ul class="botonesT">
                            <li><a href=""><label for="" class="botonT"></label></a></label></li>
                            <li><a href=""><label for="" class="botonT"></label></a></label></li>
                            <li><a href=""><label for="" class="botonT"></label></a></label></li>
                            <li><a href=""><label for="" class="botonT"></label></a></label></li>
                            <li><a href=""><label for="" class="botonT"></label></a></label></li>
                        </ul>
                    </div>
            </article>
        </section>
        <section class="esmaltes">
            <a href="/esmaltes" role="button">Esmaltes</a>
            <button>Esmaltes</button>
            <article class="esmalte">
                <div><img src="/img/Home/esmalte.jpg" alt="Imagen de un esmalte"></div>
                <h4>Nombre del esmalte</h4>
                <span class="precio">$600</span>
                <div>
                    <input type="button" value="-">
                    <input type="number" value="1" min="1" step="1">
                    <input type="button" value="+">
                </div>
                <button>Comprar</button>
            </article>
            <article class="esmalte">
                <div><img src="/img/Home/esmalte.jpg" alt="Imagen de un esmalte"></div>
                <h4>Nombre del esmalte</h4>
                <span class="precio">$600</span>
                <div>
                    <input type="button" value="-">
                    <input type="number" value="1" min="1" step="1">
                    <input type="button" value="+">
                </div>
                <button>Comprar</button>
            </article>
            <article class="esmalte">
                <div><img src="/img/Home/esmalte.jpg" alt="Imagen de un esmalte"></div>
                <h4>Nombre del esmalte</h4>
                <span class="precio">$600</span>
                <div>
                    <input type="button" value="-">
                    <input type="number" value="1" min="1" step="1">
                    <input type="button" value="+">
                </div>
                <button>Comprar</button>
            </article>
            <article class="esmalte">
                <div><img src="/img/Home/esmalte.jpg" alt="Imagen de un esmalte"></div>
                <h4>Nombre del esmalte</h4>
                <span class="precio">$600</span>
                <div>
                    <input type="button" value="-">
                    <input type="number" value="1" min="1" step="1">
                    <input type="button" value="+">
                </div>
                <button>Comprar</button>
            </article>
        </section>
        <section class="servicios">
            <h4>Nuestros servicios</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aperiam nemo, tenetur doloribus consectetur dolores architecto.</p>
            <button></button>
            <h4>Saca tu turno</h4>
            <img src="/img/Home/Vector 1.png" alt="">
        </section>
        <section class="cursos">
            <img src="/img/Home/chica.png" alt="">
            <h3>nuestros</h3>
            <h3>cursos</h3>
            <h3>Proximamente</h3>
        </section>
        <section class="ubicacion">
            <h3>Donde estamos</h3>
            <article>
                <img src="" alt="">
                <h3>Alto avellaneda Shopping</h3>
                <h3>Visitanos</h3>
            </article>
            <article>
                <img src="" alt="">
                <h3>Alto palermo shopping</h3>
                <h3>Visitanos</h3>
            </article>
            <article>
                <img src="" alt="">
                <h3>El mercado</h3>
                <h3>Visitanos</h3>
            </article>
            <article>
                <img src="" alt="">
                <h3>Alto comahue Shopping</h3>
                <h3>Visitanos</h3>
            </article>
        </section>
        <section>
            <img src="" alt="">
            <h5>tu opinión cuenta</h5>

        </section>
        <section>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </section>
    </main>
    <footer></footer>
</body>
</html>