<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Sobre Nosotros' }) %>

    <!-- <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Aviso de Privacidad</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="../css/styles.css">
</head> -->

    <body class="enlaces">
        <main>
            <a class="inicio" href="/">Regresar</a>
            <h1 class="nosotrosh1">Wonder Nails</h1>
            <!-- <div><img src="/img/Home/logo.png" alt=""></div> -->
            <p>Wonder Nail es una empresa dedicada a la distribución de insumos para uñas y maquillaje. Productos desde apliques para uñas, esmaltes de todo tipo e insumos para artistas de uñas desde tornos a instrumentales; también abarcando la venta de maquillaje. La empresa cuenta con spas en varias localidades, por lo cual también se facilita whatsapp, dirección y horarios de cada uno.

            </p>
            <ol> Link con la lista de los productos que ofrecemos<li><a href="https://docs.google.com/spreadsheets/d/1J5er_jNcr29a2wbixtV49PQRhYZN0su34kdG5vrp8rI/edit?usp=sharing">Click acà</a></li></ol>
           <p>Todo este crecimiento no hubiese sido posible sin el excelente grupo de profesionales que forma la familia de  wonder nails. De manera que, si estás buscando el lugar perfecto para tus uñas, no busques más, que ya lo has encontrado, se llama  Wonder Nails y contamos con más de 10 años de experiencia en el mundo de las uñas.</p>
           <h1>nuestro equipo</h1>
          <div class="nuestroequipo">
           <div class="equipo"> <img src="/images/19fac1a3846ba9f935f0dfc06581c073.jpg" alt="">
             <h2>Nadia Ortiz</h2>
             <p class="rango">Desarrolladora web full stack</p>
            </div>
            <div class="equipo"> <img src="/img/Home/nosotros/micaL.jpeg" alt="">
                <h2>Micaela Lourieto</h2>
               <p class="rango">Desarrolladora web full stack</p>
              </div>
              <div class="equipo"> <img src="/img/Home/nosotros/sol.jpg" alt="">
                <h2>Ocampo Solaneg</h2>
             <p class="rango">Desarrolladora web full stack</p>
              </div>
           </div>
        
        
        
        </main>
    </body>

</html>