<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Politicas de ventas' }) %>

    <!-- <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Aviso de Privacidad</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="../css/styles.css">
</head> -->

    <body class="enlaces">
        <main>
            <a class="inicio" href="/">Regresar</a>
            <h1> USO DEL SITIO WEB</h1>
            <p>Los Usuarios se comprometen a utilizar el Sitio Web de conformidad con la ley, la moral, buenas
                costumbres generalmente aceptadas y el orden público vigente. Los Usuarios se obligan a abstenerse de
                utilizar el Sitio Web con fines o efectos ilícitos, contrarios a lo establecido en las presentes
                Condiciones de Uso, lesivos de los derechos e intereses de wonder Nails o de terceros o que de cualquier
                forma puedan dañar, o deteriorar la imagen o reputación de wonder Nails o impedir la normal utilización
                o disfrute de los productos y servicios que se ofrecen por parte de wonder Nails en el Sitio Web. </p>

            <h3>PROPIEDAD INTELECTUAL</h3>
            <p>Toda la información contenida en el Sitio Web, incluyendo su diseño gráfico y el código fuente, están
                protegidos por derechos de autor y demás derechos recogidos en el Real Decreto Legislativo 1/1996, de 12
                de abril por el que se aprueba el Texto Refundido de la Ley de Propiedad Intelectual, y el resto de
                normas que regulan la Propiedad Intelectual.</p>
            <p>Estos derechos pertenecen exclusivamente a wonder Nails, por lo tanto, queda expresamente prohibido
                cualquier acto de reproducción, distribución, transformación o comunicación pública, así como cualquier
                tipo de cesión, del todo o parte del contenido del Sitio Web, y en general cualquier acto de explotación
                de la totalidad o parte de los contenidos (imágenes, textos, diseño, índices, formas, etc.), así como de
                las bases de datos y del software necesario para la visualización o el funcionamiento de los mismos y de
                cualquier objeto que según la legislación vigente sea protegible por las normas de propiedad
                intelectual.</p>
            <p>Los Usuarios no podrán en ningún caso explotar o servirse comercialmente, de forma directa o indirecta,
                total o parcial, de ninguno de los contenidos que conformen el Sitio Web sin la autorización previa y
                por escrito de wonder Nails.</p>
            <p>La autorización para el uso de cualquier contenido del Sitio Web puede solicitarse a la dirección de
                correo electrónico <strong>email <a href="">wondernails@gmail.com</a></strong> </p>
            <p>. Lo establecido en los párrafos anteriores no supondrá en ningún caso la asunción de responsabilidad por
                parte de wonder Nails sobre el contenido, ni podrá generar derecho a indemnización para Usuarios o
                terceros.</p>
                <h3>ENLACES A SITIOS WEB DE TERCEROS</h3>
                <p>Los enlaces contenidos en el Sitio Web, referidos a publicidad o a otro tipo de contenidos, y cuya titularidad o responsabilidad corresponda a terceros distintos a wonder Nails, no son responsabilidad de wonder Nails, quien en ningún caso se obliga a controlar ni a aprobar los servicios, contenidos, datos, archivos, productos y cualquier clase de material existente en la página o páginas web de terceros. Por lo tanto, wonder Nails no responderá, bajo ninguna circunstancia, de la legalidad de los contenidos de dicha/s página/s, siendo responsabilidad exclusiva del tercero todo lo que concierna al contenido de ese enlace, especialmente el respeto a la ley, moral, buenas costumbres y orden público. La existencia de enlaces no presupone relación de ninguna clase entre wonder Nails y el propietario de la página web en que el mismo se establezca.</p>
             <h3> EXONERACIÓN DE RESPONSABILIDAD</h3>
             <p>wonder Nails se exonera de toda responsabilidad relativa a:</p>
             <ul>
                <li>El funcionamiento del Sitio Web, incluyendo causas de fuerza mayor, o cualesquiera otras ajenas a la voluntad de wonder Nails, que no se encuentre totalmente operativo, o carezca eventualmente de la funcionalidad mínima para gestionar el servicio pertinente.</li>
                <li>Los posibles errores o deficiencias de seguridad que pudieran producirse por la utilización, por parte de los Usuarios, de un navegador de una versión no actualizada o insegura, así como por la activación de los dispositivos de conservación de contraseñas o códigos de identificación del Usuario registrado en el navegador o de los daños, errores o inexactitudes que pudieran derivarse del mal funcionamiento del mismo.</li>
                <li>Por los daños y perjuicios directos o indirectos que pudiera causar la información que se transmite o comunique en el Sitio Web o en sus comunicaciones electrónicas incluyendo sin carácter limitativo los errores técnicos o humanos en los datos publicados.</li>
                <li>Los daños, incluyendo entre otros, y sin limitarse a éstos: daños, pérdidas o gastos directos o indirectos, inherentes o consecuentes, que surjan en relación con este Sitio Web o su uso o imposibilidad de uso por alguna de las partes, o en relación con cualquier fallo en el rendimiento, error, omisión, interrupción, defecto, demora en la operación o transmisión, virus informáticos o fallos de sistema o línea.</li>
               
             </ul>
             <p>El Usuario responderá por los daños y perjuicios de cualquier naturaleza por actos ilícitos o fraudulentos así como aquellos daños o perjuicios que wonder Nails o sus Usuarios pudieran sufrir como consecuencia, directa o indirecta, del incumplimiento por parte del Usuario de las presentes Condiciones de Uso, reservándose wonder Nails aquellas acciones a las que tuviera derecho ante las autoridades judiciales o policiales pertinentes.</p>
              <p>Aunque emplea sus mayores esfuerzos, wonder Nails no puede garantizar a los Usuarios el acceso y uso continuado e ininterrumpido de su Sitio Web.</p>


        </main>
    </body>

</html>