<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Politicas de Privacidad' }) %>

    <!-- <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Aviso de Privacidad</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="../css/styles.css">
</head> -->

    <body class="enlaces">
        <main>
            <a class="inicio" href="/">Regresar</a>
            <h1>Politivas de Privacidad</h1>
            <p>De conformidad con lo dispuesto en el Reglamento General (UE) Sobre Protección de Datos, mediante la
                aceptación de la presente Política de Privacidad prestas tu consentimiento informado, expreso, libre e
                inequívoco para que los datos personales que proporciones a través de la página web </p>
            <strong><a href="http://localhost:3000/"></a></strong>
            <p>(en adelante SITIO WEB) sean incluidos en un fichero de “USUARIOS WEB Y SUSCRIPTORES” así como “CLIENTES
                Y/O PROVEEDORES”::</p>

            <p><strong>Wonder nails spain, s.l.</strong> </p>

            <p><strong>email <a href="">wondernails@gmail.com</a></strong> </p>

            <p>Actividad social de la empresa es venta al por mayor de productos perfumería, droguería y similares .</p>
            <p>Todo ello debidamente inscrito ante la agencia Española de Protección de Datos y respecto del que Jimena
                Nails garantiza que se han aplicado las medidas de seguridad tanto organizativas como técnicas
                requeridas por el RGPD.</p>
            <p>La presente Política de Privacidad será válida únicamente para los datos de carácter personal obtenidos
                en el Sitio Web, no siendo aplicable para aquella información recabada por terceros en otras páginas
                web, incluso si éstas se encuentran enlazadas por el Sitio Web.</p>
            <p>Con ello manifiesto mi compromiso por mantener y garantizar las relaciones comerciales de forma seguridad
                mediante la protección de los datos personales y garantizando el derecho a la privacidad de cada uno de
                los usuarios de nuestro sitio web.</p>
            <h3>datos personales</h3>
            <p>Con ello manifiesto mi compromiso por mantener y garantizar las relaciones comerciales de forma seguridad
                mediante la protección de los datos personales y garantizando el derecho a la privacidad de cada uno de
                los usuarios de nuestro sitio web.</p>
            <p>Adicionalmente, cuando visitas nuestro sitio web, determinada información se almacena automáticamente por
                motivos técnicos como la dirección IP asignada por su proveedor de acceso a Internet.</p>
            <h3>¿De qué me vale la política de privacidad?</h3>
            <p>Para que puedas consultar de forma rápida y concisa cómo utilizamos los datos personales que tenemos
                sobre ti.</p>

            <h3> ¿Porqué tenemos tus datos?</h3>
            <p>Porque tú nos los facilitas, y sólo porque quieres seguir contando con nosotros y nuestros servicios.
                Finalidades: Asegurar la correcta gestión de los servicios o productos solicitados (i) gestión, estudio
                y resolución de consultas y (ii) envío de publicidad y prospección comercial por medios electrónicos,
                acerca de la empresa, sus actividades, productos y servicios, así como documentación de diversa
                naturaleza.</p>
            <h3>¿Qué necesitamos de tus Datos?</h3>
            <p>Lo mínimo para garantizarte nuestro servicio y mantenerte informado sobre el mismo, usándolos solo para
                mantener nuestra relación comercial y/o profesional.</p>

            <h3> ¿Cedemos datos o compartimos los mismos con otros?</h3>
            <p>NO, salvo por imperativo legal o a requerimiento de las autoridades para dar cumplimiento a la normativa
                que nos rige, la española.</p>
            <h3> ¿Qué derechos te amparan?</h3>
            <p>Puedes solicitar los derechos de acceso, rectificación, supresión o la portabilidad de tus datos
                personales. También puedes presentar una reclamaciones ante las autoridades de protección de datos
                oportunas. Del mismo modo , también puedes a oponerte a que utilicemos tus datos o pedirnos que limites
                su uso.</p>
            <h3>CUMPLIMIENTO DE LA NORMATIVA DE APLICACIÓN</h3>
            <p><strong>wonder nails</strong>hasta la fecha cumple con las directrices de la Ley Orgánica 15/1999 de 13
                de diciembre de Protección de Datos de Carácter Personal, el Real Decreto 1720/2007 de 21 de diciembre
                por el que se aprueba el Reglamento de desarrollo de dicha Ley Orgánica y demás normativa vigente y de
                aplicación . Del mismo modo por el Reglamento General sobre Protección de Datos (RGPD) de la Unión
                Europea.</p>
            <p>Asimismo por la Ley 34/2002 de 11 de julio, de Servicios de la Sociedad de la Información y el Comercio
                Electrónico y le solicitará su consentimiento al USUARIO para el tratamiento de su correo electrónico
                con fines comerciales en cada momento.</p>
            <p>Los datos suministrados, así como aquellos datos derivados de su navegación, podrán ser almacenados en
                nuestros ficheros</p>
            <p>Adicionalmente, el USUARIO consiente el tratamiento de sus datos con la finalidad de informarles, por
                cualquier medio, incluido el correo electrónico, de productos y servicios.</p>
            <p>Igualmente, tal y como pueden comprobar, la web dispone de certificado SSL por lo que se garantiza la
                seguridad de sus datos.</p>
            <h3>SISTEMAS DE CAPTURA DE DATOS PERSONALES Y SU FINALIDAD</h3>
            <p><strong>Formularios de suscripción a contenidos</strong>: dentro de la web existen varios formularios
                para activar la suscripción con la finalidad de enviar campañas de marketing por correo electrónico,
                gestión de suscripciones y envío de boletines o noticias.</p>
            <p><strong>Formulario de comentarios:</strong> La web incluye un formulario cuya finalidad es comentar
                los artículos y dar su opinión respetando la libertad de expresión. El usuario podrá publicar
                comentarios en los post que se publiquen. Los datos personales introducidos en el formulario para
                insertar estos comentarios serán utilizados exclusivamente para moderarlos y publicarlos, recabando
                igualmente estos datos que se almacenarán en los servidores de señalados al efecto.</p>
            <p><strong>Formulario de contacto:</strong> Existe un formulario de contacto cuya finalidad es la
                respuesta de consultas, sugerencias o contacto profesional. En este caso se utilizará la dirección de
                correo electrónico para responder a las mismas y enviar la información que el usuario requiera a través
                de la web, estos datos se almacenarán en los servidores señalados al respecto.</p>
            <p><strong>cookies</strong> Cuando el usuario se registra o navega en esta web, se almacenan “cookies”, El
                usuario puede consultar en cualquier momento la política de cookies para ampliar información sobre el
                uso de cookies y cómo desactivarlas.</p>
            <p>No voy a compartir, vender, alquilar tu información personal con otras partes. Puedo compartir cierta
                información con los proveedores de servicios de terceros autorizados necesarios para prestarte algunos
                servicios.</p>
            <h3> ACEPTACIÓN, CONSENTIMIENTO Y REVOCABILIDAD</h3>
            <p>El Usuario declara haber sido informado de las condiciones sobre protección de datos de carácter
                personal, aceptando y consintiendo el tratamiento de los mismos por parte de </p>
            <p>Como bien sabes y le hemos comunicado a lo largo de las presentes políticas de privacidad, </p>
            <p>en cualquier momento podrá revocar sus datos</p>
            <p>,pero siempre sin carácter retroactivo.</p>

        </main>
    </body>

</html>