<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Politicas de cookies ' }) %>

    <!-- <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Aviso de Privacidad</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="../css/styles.css">
</head> -->

    <body class="enlaces">
        <main>
            <a class="inicio" href="/">Regresar</a>
            <h1>Politicas de cookies</h1>
            <h3>¿Qué es una cookie?</h3>
            <p>Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las
                cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los
                hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de
                la forma en que se utilice su equipo, pueden servir para reconocerlo. </p>

            <p>No obstante, estos medios sólo obtienen información relacionada con el número de páginas visitas, la
                ciudad a la que está asignada la dirección IP desde la que se accede, el número de nuevos usuarios, la
                frecuencia y reincidencia de las visitas, el tiempo de visita, el navegador o el operador o tipo de
                terminal desde el que se realiza la visita. En ningún caso se obtienen datos sobre el nombre, apellidos,
                dirección postal u otros datos análogos del usuario que se ha conectado.</p>

            <h3>¿Qué tipos de cookies hay?</h3>
            <p>Las cookies pueden ser propias o de terceros. Las propias son aquéllas que se envían al equipo terminal
                del usuario desde un equipo o dominio gestionado por el propio editor de la Web, desde el que se presta
                el servicio solicitado por el usuario. Las cookies de tercero son aquéllas que se envían al equipo
                terminal del usuario desde un equipo o dominio que no es gestionado por el editor, sino por otra entidad
                que trata los datos obtenidos través de las cookies.</p>
            <p>Además, las cookies pueden ser de sesión o persistentes. Las primeras son un tipo de cookies diseñadas
                para recabar y almacenar datos mientras el usuario accede a una página web. Las persistentes son un tipo
                de cookies que hace que los datos sigan almacenados en el terminal y puedan ser accedidos y tratados
                durante un periodo definido por el responsable de la cookie, que puede ir de unos minutos a varios años.
            </p>
            <h3>¿Cuáles son las cookies que utiliza esta Web?</h3>
            <p>Esta Web utiliza un tipo de cookies de tercero que son denominadas “cookies de análisis”. Son cookies
                que, bien tratadas por nosotros, bien por dichos terceros, nos permiten cuantificar el número de
                usuarios y examinar su navegación, pudiendo así realizar la medición y análisis estadístico de la
                utilización de la Web que hacen los usuarios. Todo ello se hace con la finalidad de mejorar los
                contenidos de la Web y prestar un mejor servicio a través de ella.</p>
            <p>La aplicación que se utiliza para dicho fin es Google Analitycs, que pertenece a Google. Además, esta
                empresa puede utilizar los datos obtenidos para mejorar sus propios servicios <br> Puede usted permitir,
                bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones de su
                navegador. Puede encontrar información sobre cómo hacerlo, en relación con los navegadores más comunes,
                en los links que se incluyen a continuación:</p>

            <ul>
                <li>Explorer<a href="https://support.microsoft.com/es-es/windows"></a></li>
                <li>Firefox<a href="https://support.mozilla.org/es/products/firefox/cookies"></a></li>
                <li>Chrome<a href="https://support.google.com/chrome/answer/95647?hl=es"></a></li>
                <li>Safari<a href="https://support.apple.com/es-us/guide/safari/sfri11471/mac"></a></li>
            </ul>

            
            <p>Le informamos, no obstante, de la posibilidad de que la desactivación de alguna cookie impida o dificulte
                la navegación o la prestación de los servicios ofrecidos a través de las páginas Web. <br></p>
        </main>
    </body>

</html>