<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Terminos y condiciones ' }) %>

    <!-- <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Aviso de Privacidad</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="../css/styles.css">
</head> -->

    <body class="enlaces">
        <main>
            <a class="inicio" href="/">Regresar</a>
            <h1>Terminos y condiciones</h1>
            <h3>¿CÓMO COMPRAR?</h3>
            <h3>Comprar es muy sencillo. Sólo tienes que seguir los siguientes pasos:</h3>
            <ul>
                <li>Elige la categoría (ej. tratamientos), una vez dentro de ella, haz clic en una subcategoría (ej.
                    cremas), visualiza los productos y haz clic en el que te interese. Si haces clic en la fotografía,
                    la podrás ver ampliada y con más detalle. En las fichas de producto podrás encontrar información
                    detallada de los productos.</li>
                <li>Añade a tu cesta aquel producto que quieras comprar haciendo clic en “Añadir”. Si quieres más
                    unidades de un mismo producto, indica la cantidad en la pestaña situada justo debajo del botón
                    “Añadir”.</li>
            </ul>
            <p>Tanto desde los productos como desde la cesta de la compra puedes añadir fácilmente los artículos a tu
                lista de la compra, para que en futuras compras te resulte más fácil finalizar el pedido.</p>

            <ul>
                <li>Una vez añadido a tu cesta, aparecerá una pantalla en la que tendrás que elegir si quieres seguir
                    comprando (clic en “continuar comprando”) o finalizar tu compra (clic en “finalizar compra”).</li>
                <li>Revisa la información de tu pedido y si te apetece seguir comprando haz clic en “continuar
                    comprando”; si ya has finalizado tu pedido, haz clic en “finalizar compra”.</li>
                <li>Si ya estás registrado, deberás introducir tu usuario y contraseña; si no lo estás, regístrate en el
                    apartado “créate una cuenta” y cumplimenta los campos obligatorios de la ficha que aparecerá a
                    continuación.</li>
                <li>En el siguiente paso, revisa tus datos personales y tu dirección de envío y facturación. Puedes
                    añadir tantas direcciones como necesites para recibir tus pedidos; también puedes añadir una
                    observación para el transportista con las indicaciones que consideres. A continuación, en la
                    siguiente pantalla, revisa tu pedido, y, finalmente, elige tu método de pago, acepta nuestras
                    condiciones y confirma el pedido.</li>
                <li>Una vez realizado el pago, recibirás un email confirmándote tu pedido.</li>
                <li>Si tienes dudas o quieres comentarnos algo sobre tu pedido puedes hacerlo a través de nuestra página
                    de contacto.</li>
                <li>Puedes repetir tus pedidos tanto desde tu “lista de la compra” como desde el histórico de tus
                    pedidos (en el apartado “Mis pedidos” de la sección “Mi cuenta”).</li>
            </ul>
            <h3>pago</h3>
            <p>¿Qué método de pago puedo utilizar para realizar mi compra online?</p>
            <p>los medios de pagos disponibles son: Tarjeta de crédito o débito: Visa, Visa Electrón, MasterCard y
                Maestro.</p>
            <h3>¿ES SEGURO USAR MI TARJETA DE CRÉDITO EN LA WEB?</h3>
            <p>Sí. Utilizamos sistemas de pago seguras. Los datos confidenciales del pago con tarjeta de crédito o
                débito son transmitidos directamente y de forma encriptada (SSL) a la entidad financiera. Al hacer el
                pago a través de pasarela de pago segura, el sistema verificará automáticamente que la tarjeta de
                crédito está activada para el Comercio Electrónico Seguro. Después conectará con el banco emisor de la
                misma, el cual solicitará la autenticación y la autorización de la operación.</p>
            <h1>envio</h1>
            <h3> ¿Dónde puedo recibir mis pedidos?</h3>
            <p>Tus pedidos serán enviados a la dirección de entrega que has introducido al crear tu cuenta, por lo que
                es importante que pongas atención al cubrir estos datos. Recuerda que una vez registrado, en “libreta de
                direcciones” del apartado “mi cuenta” puedes añadir todas las direcciones de entrega que desees (ej. tu
                oficina, tu casa de verano, la casa de tus padres…) y seleccionar la que te interese al realizar tu
                pedido.</p>
            <h3>¿Cuánto tardará en llegar mi pedido?</h3>
            <p>El transporte realizará el servicio puerta a puerta en un plazo de 24/ 72h desde nuestra confirmación de
                envío. Una vez que el pedido salga de nuestros almacenes, recibirás un email notificándote que el pedido
                ha sido aceptado y está siendo enviado.</p>
            <p>Hay que tener en cuenta los festivos locales de la comunidad, que pueden afectar a la entrega de los
                pedidos.</p>
            <h1>Devoluciones</h1>
            <h3>¿Puedo realizar una devolución de mi pedido?</h3>
            <p>Contacta con nosotros desde el formulario de contacto añadiendo en el mensaje el id de la factura
                (devolviendo siempre todos los productos en perfecto estado y con su embalaje original). Desde la
                recepción del pedido, tienes 14 días naturales para realizarla. En cualquier caso si el motivo de la
                devolución no es imputable se cobrará el porte, y tanto si estos se cobraron como si el envío estaba
                exento de portes.</p>
            <p>Haremos una comprobación de los productos devueltos para confirmar que estos llegan en óptimas
                condiciones antes de proceder al reembolso de los importes. En el caso de que el producto esté
                deteriorado por un mal uso, no se admitirá cambio ni devolución alguna.</p>
            <p>No están permitidos cambios ni devoluciones de nuestros artículos comprados vía online en nuestras
                tiendas física.</p>
            <p>Todos los cursos adquiridos de forma online, reservas o pagos íntegros, no se devolverá el dinero en
                ningún caso. Se podrá cambiar por cualquier otra formación con previo aviso de 72h y con justificante,
                podrá cambiarlo por formaciones que se realicen en los seis meses posteriores. Si no es así se perderá
                el curso sin ningún reembolso, ni cambio. <br> En caso de devolución de un producto, el importe abonado
                no se reembolsará; en su lugar se hará un vale descuento en la tienda online de dicho importe, aplicable
                a próximas compras.</p>


            <p>De conformidad con lo dispuesto en el Reglamento General (UE) Sobre Protección de Datos, mediante la
                aceptación de la presente Política de Privacidad prestas tu consentimiento informado, expreso, libre e
                inequívoco para que los datos personales que proporciones a través de la página web </p>
            <strong><a href="http://localhost:3000/"></a></strong>
            <p>(en adelante SITIO WEB) sean incluidos en un fichero de “USUARIOS WEB Y SUSCRIPTORES” así como “CLIENTES
                Y/O PROVEEDORES”::</p>

            <p><strong>Wonder nails spain, s.l.</strong> </p>

            <p><strong>email <a href="">wondernails@gmail.com</a></strong> </p>

            <p>Actividad social de la empresa es venta al por mayor de productos perfumería, droguería y similares .</p>
            <p>Todo ello debidamente inscrito ante la agencia Española de Protección de Datos y respecto del que wonder
                Nails garantiza que se han aplicado las medidas de seguridad tanto organizativas como técnicas
                requeridas por el RGPD.</p>
            <p>La presente Política de Privacidad será válida únicamente para los datos de carácter personal obtenidos
                en el Sitio Web, no siendo aplicable para aquella información recabada por terceros en otras páginas
                web, incluso si éstas se encuentran enlazadas por el Sitio Web.</p>
            <p>Con ello manifiesto mi compromiso por mantener y garantizar las relaciones comerciales de forma seguridad
                mediante la protección de los datos personales y garantizando el derecho a la privacidad de cada uno de
                los usuarios de nuestro sitio web.</p>
            <h3>datos personales</h3>
            <p>Con ello manifiesto mi compromiso por mantener y garantizar las relaciones comerciales de forma seguridad
                mediante la protección de los datos personales y garantizando el derecho a la privacidad de cada uno de
                los usuarios de nuestro sitio web.</p>
            <p>Adicionalmente, cuando visitas nuestro sitio web, determinada información se almacena automáticamente por
                motivos técnicos como la dirección IP asignada por su proveedor de acceso a Internet.</p>
            <h3>¿De qué me vale la política de privacidad?</h3>
            <p>Para que puedas consultar de forma rápida y concisa cómo utilizamos los datos personales que tenemos
                sobre ti.</p>

            <h3> ¿Porqué tenemos tus datos?</h3>
            <p>Porque tú nos los facilitas, y sólo porque quieres seguir contando con nosotros y nuestros servicios.
                Finalidades: Asegurar la correcta gestión de los servicios o productos solicitados (i) gestión, estudio
                y resolución de consultas y (ii) envío de publicidad y prospección comercial por medios electrónicos,
                acerca de la empresa, sus actividades, productos y servicios, así como documentación de diversa
                naturaleza.</p>
            <h3>¿Qué necesitamos de tus Datos?</h3>
            <p>Lo mínimo para garantizarte nuestro servicio y mantenerte informado sobre el mismo, usándolos solo para
                mantener nuestra relación comercial y/o profesional.</p>

            <h3> ¿Cedemos datos o compartimos los mismos con otros?</h3>
            <p>NO, salvo por imperativo legal o a requerimiento de las autoridades para dar cumplimiento a la normativa
                que nos rige, la española.</p>
            <h3> ¿Qué derechos te amparan?</h3>
            <p>Puedes solicitar los derechos de acceso, rectificación, supresión o la portabilidad de tus datos
                personales. También puedes presentar una reclamaciones ante las autoridades de protección de datos
                oportunas. Del mismo modo , también puedes a oponerte a que utilicemos tus datos o pedirnos que limites
                su uso.</p>
            <h3>CUMPLIMIENTO DE LA NORMATIVA DE APLICACIÓN</h3>
            <p><strong>wonder nails</strong>hasta la fecha cumple con las directrices de la Ley Orgánica 15/1999 de 13
                de diciembre de Protección de Datos de Carácter Personal, el Real Decreto 1720/2007 de 21 de diciembre
                por el que se aprueba el Reglamento de desarrollo de dicha Ley Orgánica y demás normativa vigente y de
                aplicación . Del mismo modo por el Reglamento General sobre Protección de Datos (RGPD) de la Unión
                Europea.</p>
            <p>Asimismo por la Ley 34/2002 de 11 de julio, de Servicios de la Sociedad de la Información y el Comercio
                Electrónico y le solicitará su consentimiento al USUARIO para el tratamiento de su correo electrónico
                con fines comerciales en cada momento.</p>
            <p>Los datos suministrados, así como aquellos datos derivados de su navegación, podrán ser almacenados en
                nuestros ficheros</p>
            <p>Adicionalmente, el USUARIO consiente el tratamiento de sus datos con la finalidad de informarles, por
                cualquier medio, incluido el correo electrónico, de productos y servicios.</p>
            <p>Igualmente, tal y como pueden comprobar, la web dispone de certificado SSL por lo que se garantiza la
                seguridad de sus datos.</p>
            <h3>SISTEMAS DE CAPTURA DE DATOS PERSONALES Y SU FINALIDAD</h3>
            <p><strong>Formularios de suscripción a contenidos</strong>: dentro de la web existen varios formularios
                para activar la suscripción con la finalidad de enviar campañas de marketing por correo electrónico,
                gestión de suscripciones y envío de boletines o noticias.</p>
            <p><strong>Formulario de comentarios:</strong> La web incluye un formulario cuya finalidad es comentar
                los artículos y dar su opinión respetando la libertad de expresión. El usuario podrá publicar
                comentarios en los post que se publiquen. Los datos personales introducidos en el formulario para
                insertar estos comentarios serán utilizados exclusivamente para moderarlos y publicarlos, recabando
                igualmente estos datos que se almacenarán en los servidores de señalados al efecto.</p>
            <p><strong>Formulario de contacto:</strong> Existe un formulario de contacto cuya finalidad es la
                respuesta de consultas, sugerencias o contacto profesional. En este caso se utilizará la dirección de
                correo electrónico para responder a las mismas y enviar la información que el usuario requiera a través
                de la web, estos datos se almacenarán en los servidores señalados al respecto.</p>
            <p><strong>cookies</strong> Cuando el usuario se registra o navega en esta web, se almacenan “cookies”, El
                usuario puede consultar en cualquier momento la política de cookies para ampliar información sobre el
                uso de cookies y cómo desactivarlas.</p>
            <p>No voy a compartir, vender, alquilar tu información personal con otras partes. Puedo compartir cierta
                información con los proveedores de servicios de terceros autorizados necesarios para prestarte algunos
                servicios.</p>
            <h3> ACEPTACIÓN, CONSENTIMIENTO Y REVOCABILIDAD</h3>
            <p>El Usuario declara haber sido informado de las condiciones sobre protección de datos de carácter
                personal, aceptando y consintiendo el tratamiento de los mismos por parte de </p>
            <p>Como bien sabes y le hemos comunicado a lo largo de las presentes políticas de privacidad, </p>
            <p>en cualquier momento podrá revocar sus datos</p>
            <p>,pero siempre sin carácter retroactivo.</p>

        </main>
    </body>

</html>