<footer>
  <div class="goTop">
    <a href="#">
      <i class="fas fa-angle-up"></i>
    </a>
  </div>
  <div class="container__footer">
    <div class="container_ilustration">
      <div class="icons"><img src="/img/Group (2).svg" alt=""></div>
      <div class="__ilustration">
        <h3>Envio</h3>
        <p>Desde y hasta cualquier lugar del país. Asegurado por el valor declarado.</p>
      </div>
      <div class="icons"> <i class="far fa-heart"></i></div>
      <div class="__ilustration">
        <h3>Precios accesibles</h3>
        <p>Nos encanta dar a los clientes los mejores precios del mercado.</p>
      </div>
      <div class="icons"> <i class="far fa-handshake"></i></div>
      <div class="__ilustration">
        <h3>Productos de alta calidad</h3>
        <p>Tenemos una gran cantidad de suministro de uñas de alta calidad. </p>
      </div>
    </div>  
    <div class="box__footer">
      <div class="logo">
        <img src="/images/WonderNails-Logotipo.png">
      </div>
      <div class="terms">
        <p>Suscríbete a nuestra newsletter y entérate de todas nuestras novedades.</p>
        <input type="email" name="email" id="email" placeholder="Tu email">
        <input class="subs" type="submit" value="Suscribite">
      </div>


    </div>
 
    <div class="box__footer">
      <h2>Nuestra compañia</h2>
      <a href="https://www.google.com">Sobre Nosotros</a>
      <a href="#">Preguntas Frecuentes</a>
      <a href="#">Contacto</a>
      <a href="#">Envios y Devoluciones</a>
    </div>

    <div class="box__footer">
      <h2>Informacion legal</h2>
      <a href="#">Política de privacidad</a>
      <a href="#">Política de ventas</a>
      <a href="#">Términos y condiciones</a>
      <a href="#">Política de cookies</a>
    </div>


  </div>
  <div class="container__footer1">
    <div class="box__footer1">
      <img src="/img/Small Card.svg" width="150px" alt="">
      <a href="#"></a>
    </div>


    <div class="box__copyright">
      <p><b>wonder nails </b>copyright © 2022 </p>
    </div>
  </div>
</footer>