<header>
    <div class="top">
        <nav class="navIcons">
            <ul class="icons">
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                <a href="whatssap"><i class="fab fa-whatsapp"></i></a>
            </ul>
        </nav>
        <nav class="users">
            
            <% if (locals.userLogin) { %>
                
                <ul class="icons">
                    <a href="">Hola <%= locals.userLogin.name %>! </a>
                    <a href="/usuarios/perfil">Accede a tu perfil</a>
                </ul> 
                <% } else { %>
                    <ul class="icons">
                        <a href="/usuarios/register">Registro</a>
                        <a href="/usuarios/login">Login</a>
                    </ul> 
            <% } %>
        </nav>
        <div class="logo">
            <a href="/">
                <img src="/img/WonderNails-Logotipo.png" alt="logo de su pagina">
            </a>
        </div>
    </div>
    <form action="/buscar" method="get">
        <div class="buscar">
            <input type="text" name="search" id="search" class="buscar_texto" placeholder="Buscar">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <div class="bars">
        <button class="button"><i class="fas fa-bars"></i></button>
    </div>
    <div class="shopping">
        <% if (locals.userLogin) { %>
            <% if (locals.userLogin.rol === "Administrador") { %>
                <button><a href="/admin/listar"><i class="fas fa-user-cog"></i></a></button>
            <% } %>
        <% } %>
     
        <button class="button2"><a href="productos/carrito"><i class="fas fa-shopping-bag"></i></a></button>
    </div>
</header>