<header>
    <div class="top">
        <nav class="navIcons">
            <ul class="icons">
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                <a href="whatssap"><i class="fab fa-whatsapp"></i></a>
            </ul>
        </nav>
        <nav class="users">
            
            <% if (locals.userLogin) { %>
                
                <ul class="icons">
                    <a href="">Hola <%= locals.userLogin.name %>! </a>
                    <a href="/usuarios/perfil">Accede a tu perfil</a>
                </ul> 
                <% } else { %>
                    <ul class="icons">
                        <a href="/usuarios/register">Registro</a>
                        <a href="/usuarios/login">Login</a>
                    </ul> 
            <% } %>
        </nav>
    </div>
    <div class="center">
        <div class="logo">
            <a href="/">
                <img src="/img/WonderNails-Logotipo.png" alt="logo de su pagina">
            </a>
        </div>
        <form action="/buscar" method="get">
            <div class="buscar">
                <input type="text" name="search" id="search" class="buscar_texto" placeholder="Buscar">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
    <div class="shopping">
        <% if (locals.userLogin) { %>
            <% if ((+locals.userLogin.rol) === 1) { %>
                <button><a href="/admin/listar"><i class="fas fa-user-cog"></i></a></button>
            <% } %>
        <% } %>

        <button class="cart-btn" id="cart-btn" ><a href="/productos/carrito"><i class="fas fa-shopping-bag"></i></a></button>
    </div>
    <div class="cart-container"></div>  

    <input type="checkbox" id="check">
    <label for="check" class="button"><i class="fas fa-bars"></i></label>

    <div class="burgerMenu">
        <ul>
            <% if (locals.userLogin) { %>
                <li class="active">Hola <%= locals.userLogin.name %>!</li>
                <li class="hover"><a href="/usuarios/perfil">Accede a tu perfil</a></li>
            <% } %>
            <li>Productos</li>
            <li class="hover"><a href="/productos">Todos los productos</a></li>
            <li class="hover"><a href="/productos/Nuevo">Nuevos</a></li>
            <li class="hover"><a href="/productos/Favoritos">Favoritos</a></li>
            <li class="hover"><a href="/productos/Oferta">Ofertas</a></li>
            <% if (locals.userLogin) { %>
             <% if ((+locals.userLogin.rol) === 1) { %>
                <li>Administrador</li>
                <li class="hover"><a href="/admin/listar">Listado de productos</a></li>
                <li class="hover"><a href="/admin/crear">Crear un nuevo producto</a></li>
                <% } %>
            <% } %>
            <li class="hover"><span>Ubicación</span></li>
            <li class="hover"><span>Nosotros</span></li>
            <% if (locals.userLogin) { %>
                <li>
                    <form action="/usuarios/logout?_method=DELETE" method="POST">
                        <button class="logout hover" type="submit"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </div>
    

</header>