<header>
    <div class="top">
        <nav>
            <ul class="icons">
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                <a href="whatssap"><i class="fab fa-whatsapp"></i></a>
           </ul>
      </nav>
        <div class="logo">
            <a href="/">
              <img src="/img/WonderNails-Logotipo.png" alt="logo de su pagina" >
           </a>
       </div>
    </div>
    <div class="buscar">
        <input type="text" class="buscar_texto" placeholder="Buscar">
    
         <button><i class="fas fa-search"></i></button>       
  </div>   
  <div class="bars">
     <button class="button"><i class="fas fa-bars"></i></button>
   </div> 
   <div class="shopping">
    <button><a href="admin/listar"><i class="fas fa-user-cog"></i></a></button>
    <button class="button2"><i class="fas fa-shopping-bag"></i></button>
   </div>
</header>